In [4]:
import pandas as pd
import numpy as np

In [6]:
# Point the path file of the dataset
data = "C:/Users/tangu/OneDrive/Documents/2- Perso/CODING/Projet_Portfolio/AdventofCode/2024/2.csv"
df = pd.read_csv(data)
df.head()

    A   B   C   D   E     F     G   H
0   8  11  13  14  15  18.0  17.0 NaN
1  43  44  47  49  52  52.0   NaN NaN
2  37  40  42  43  44  47.0  51.0 NaN
3  70  73  76  79  86   NaN   NaN NaN
4  17  19  17  20  23   NaN   NaN NaN

In [8]:
data = df.values.tolist()

In [12]:
dt = [[val for val in ligne if not pd.isna(val)] for ligne in data]

In [16]:
def est_croissante(liste):
    return all(liste[i] < liste[i+1] for i in range(len(liste) - 1))

In [18]:
def est_decroissante(liste):
    return all(liste[i] > liste[i+1] for i in range(len(liste) - 1))

In [20]:
def verify_levels(lst):
    for i in range(len(lst) - 1):
        diff = abs(lst[i] - lst[i + 1])
        if diff < 1 or diff > 3:
            return False
    return True

In [34]:
def is_safe(ligne):
    return (est_croissante(ligne) or est_decroissante(ligne)) and verify_levels(ligne)

In [36]:
safe = 0
for ligne in dt:
    if is_safe(ligne):
        safe += 1
    else:
         # Tester si supprimer un élément rend la ligne sûre
        for i in range(len(ligne)):
            ligne_modifiee = ligne[:i] + ligne[i+1:]  # Supprimer l'élément à l'indice i
            if is_safe(ligne_modifiee):
                safe += 1
                break

In [38]:
safe

536