In [3]:
import pandas as pd
import numpy as np

In [59]:
# Point the path file of the dataset
data = "C:/Users/tangu/OneDrive/Documents/2- Perso/CODING/Projet_Portfolio/AdventofCode/2024/1.1.csv"
df = pd.read_csv(data)
df.head()

     ID1    ID2
0  39687  54930
1  86219  31559
2  48536  73145
3  19932  82178
4  87646  97411

In [61]:
df1 = pd.DataFrame({col: sorted(df[col]) for col in df.columns})

In [63]:
df1["dist"]=abs(df1['ID1']-df1['ID2'])

In [65]:
result = df1['dist'].sum()

In [67]:
result

1651298

In [127]:
simi = {item:0 for item in df['ID1'].unique()}
for loc in df['ID2']:
    if loc in simi:
        simi[loc] += 1

In [131]:
df_simi = pd.DataFrame(list(simi.items()), columns=['ID', 'simi'])

In [137]:
df_simi['Produit'] = df_simi['ID'] * df_simi['simi']

In [141]:
result2 = df_simi['Produit'].sum()
result2

21306195

In [145]:
for id2 in df['ID2']:
    if id2 in df['ID1']:
        df['simi'] += 1

In [147]:
df

       ID1    ID2
0    39687  54930
1    86219  31559
2    48536  73145
3    19932  82178
4    87646  97411
..     ...    ...
995  83597  72689
996  12914  79531
997  39621  90125
998  10029  95431
999  85400  15291

[1000 rows x 2 columns]